.elementor-39 .elementor-element.elementor-element-4c824ebb > .elementor-container{max-width:1000px;}.elementor-39 .elementor-element.elementor-element-4c824ebb{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:40px 0px 0px 0px;}.elementor-39 .elementor-element.elementor-element-4c824ebb > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}@media(max-width:1024px){.elementor-39 .elementor-element.elementor-element-4c824ebb{padding:50px 50px 50px 50px;}}@media(max-width:767px){.elementor-39 .elementor-element.elementor-element-4c824ebb{padding:20px 20px 20px 20px;}}/* Start custom CSS for section, class: .elementor-element-4c824ebb *//*.ast-main-header-bar-alignment{
    display: none;
}
.ast-masthead-custom-menu-items{
    display: none;
}
.ast-button-wrap {
    display: none;
}*//* End custom CSS */